@font-face {
  font-family: 'NegozioPlus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NegozioPlus'), url(../public/fonts/NegozioPlus.ttf) format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: NegozioPlus,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-image: radial-gradient(#ebc726, transparent 1px, 	#f6f7f9 1px),
    radial-gradient(#eb372e, transparent 1px, #ffffff 1px);
    background-position: 0 0, 25px 25px;
    background-size:50px 50px;
    padding:0;
    margin:0;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
