.nav{
height:2rem;
width:80%;
padding:10px;
background:#242525;
color:#f2f3f4;
font-family:'roboto';
display:flex;
align-items:center;
justify-content:flex-start;
text-align:center;
margin: 80px auto;
margin-bottom: 15px;
top:0;
border-radius: 15px;
z-index:1000;
}



.nav ul{
    display:flex;
    justify-content: center;
    align-items:center;
    list-style:none;
    text-size-adjust:auto;
    font-size: .8em;
    margin: 0 auto;
    
}


  
  .nav ul li a {
    margin: 5px 20px;
    display: block;
  }